<div>
    <div class="rectangle Rectangle-Copy"></div>
    <form [formGroup]="loginForm" (ngSubmit)="performRequest()" center>
        <div class="center">
            <div>
                <div>
                    <div style="border-bottom:1px solid white">
                        <img src="../../../assets/icon-users.png" style="margin-bottom: 5px;">
                        <input required  formControlName="email" tabindex="1" type="text" class="user" placeholder="Email or username *">
                    </div>
                </div>
                <div>
                    <div style="border-bottom:1px solid white ">
                        <img src="../../../assets/candado.png" style="margin-bottom: 5px;">
                        <input required type="password" formControlName="password"  class="user" placeholder="Password *">
                    </div>
                </div>
            </div>
            <div>
                <button mat-flat-button class="Rectangle-Copy-6" type="submit" color="primary" style="color: black;">LOG IN</button>
            </div>
        </div>
    </form>
</div>
