<div class="navbar nav" [ngClass]="{'justifyCenter': currentUserRole != 'operador' || showMaps, 'justifyEnd': currentUserRole == 'operador' || !showMaps}">
    <div *ngIf="currentUserRole != 'operador' && showMaps" class="dropdown alignCenter pl-2">
        <button class="btn" >View By Selected Buses</button>
        <div class="dropdown-content">
            <form>
                <div class="flex" *ngFor="let bus of buses">
                    <input type="checkbox" [id]="bus._id" value="second_checkbox" (click)="selectBus(bus._id)"> <label [for]="bus._id">{{bus.name}}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="alignCenter logout">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="emitContainer(false)">
                <mat-icon>directions</mat-icon>
                <span>Map</span>
            </button>
            <button *ngIf="currentUserRole == 'admin'" mat-menu-item (click)="emitContainer(true)">
                <mat-icon>group</mat-icon>
                <span>Users</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>dialpad</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</div>
